<div class="banner">
    <span>
        Here is my banner
    </span>
</div>
<div class="main">
    <div class="section left-section">

    </div>
    <div class="section right-section">

    </div>
</div>